h1{
  color: blue;
  text-align: center;
  font-size: 30;
  font-style: normal;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
  line-height: normal;
}
p{
  font-family: sans-serif;
  color: purple;
  font-size: 20;

}
ul{
  line-height: 40px
}

.strong {
  font-style: italic;
}
.em{
   font-weight: bold;
}

body {
  background-color: silver;
}
